body{
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 20px;
}
.center{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-bottom: 25px;
}

h1{
    text-align: left;
}

img {
    transition: 0.8s;
    width: 0;
}

.mem-header:hover {
    cursor: pointer;
}

.mem-header:hover img {
    width: 600px;
    transition: width 300ms linear;
}
.mem-header:not(:hover) img
{
    width: 0;
}
